@import '/src/setting';

$app-bar-color    : #006793;

.navbar-app {
    height: $navbar-app-height;
    padding-left    : $gap;
    display         : flex;
    align-items     : center;
    background-color: $app-bar-color;
    font-size       : 1.5rem;
}

